{% extends 'web_app/wrapper.html' %}

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">Печать</button>
                <button type="button" class="btn btn-secondary">Экспорт в CSV файл</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p>Количество строк на странице</p>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" class="custom-control-input">
                    <label class="custom-control-label">50</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" class="custom-control-input">
                    <label class="custom-control-label">100</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" class="custom-control-input">
                    <label class="custom-control-label">150</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" class="custom-control-input">
                    <label class="custom-control-label">200</label>
                </div>
            </div>
            <div class="col">
                <p>Фильтр</p>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio5" class="custom-control-input">
                    <label class="custom-control-label">Показать за день</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio6" class="custom-control-input">
                    <label class="custom-control-label">Показать за период</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio7" class="custom-control-input">
                    <label class="custom-control-label">Все результаты</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Дата</th>
                            <th scope="col">Время</th>
                            <th scope="col">Образец</th>
                            <th scope="col">Сера</th>
                            <th scope="col">Рассеянное</th>
                            <th scope="col">Концентрация</th>
                            <th scope="col">Аналитическая программа</th>
                            <th scope="col">Оператор</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}