{% extends 'web_app/wrapper.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">Печать</button>
                <button type="button" class="btn btn-secondary">Экспорт в CSV файл</button>
            </div>
        </div>
        <br>
        <form action="." method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <p>Количество строк на странице</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="value" id="id50" value="50">
                        <label class="form-check-label" for="id50">50</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="value" id="id100" value="100">
                        <label class="form-check-label" for="id100">100</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="value" id="id150" value="150">
                        <label class="form-check-label" for="id150">150</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="value" id="id200" value="200">
                        <label class="form-check-label" for="id200">200</label>
                    </div>
                </div>
                <div class="col">
                    <p>Фильтр</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="filter" id="day" value="day">
                        <label class="form-check-label" for="day">Показать за день</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="filter" id="period" value="period">
                        <label class="form-check-label" for="period">Показать за период</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="filter" id="all" value="all">
                        <label class="form-check-label" for="all">Все результаты</label>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary">Render</button>
        </form>
        <br>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
<!--                                <th scope="col">Id</th>-->
                                <th scope="col">Дата</th>
                                <th scope="col">Время</th>
                                <th scope="col">Образец</th>
                                <th scope="col">Сера</th>
                                <th scope="col">Рассеянное</th>
                                <th scope="col">Концентрация</th>
                                <th scope="col">Аналитическая программа</th>
                                <th scope="col">Оператор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if values %}
                                {% for value in values %}
                                    <tr>
<!--                                        <td>{{ value.id }}</td>-->
                                        <td>{{ value.timestamp|date:"d/m/Y" }}</td>
                                        <td>{{ value.timestamp|time:"G:i:s" }}</td>
                                        <td>{{ value.name }}</td>
                                        {% if value.value.all.count > 0 %}
                                            {% for var in value.value.all %}
                                                {% if forloop.counter == 1 or forloop.counter == 2 %}
                                                    <td>{{ var.value }}</td>
                                                {% else %}
                                                    <td>{{ var.value|floatformat:5 }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        {% endif %}
                                        {% load custom_filters %}
                                        <td>{{ value.sampleobjectid.name|cut_name|default:"None" }}</td>
                                        <td>{{ value.sampleobjectid.name|cut_prog|default:"None" }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td>There are no object in the library.</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if values.has_previous %}
                                    <li class="page-item"><a class="page-link" href="{% url 'pagination' %}{{ values.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                {% for _ in values.num_pages_tuple %}
                                    {% if forloop.counter != values.number %}
                                        <li class="page-item"><a class="page-link" href="{% url 'pagination' %}{{forloop.counter}}">{{ forloop.counter }}</a></li>
                                    {% else %}
                                        <li class="page-item active"><span class="page-link">{{ forloop.counter }}</span></li>
                                    {% endif %}
                                {% endfor %}
                                {% if values.has_next %}
                                    <li class="page-item"><a class="page-link" href="{% url 'pagination' %}{{ values.next_page_number }}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>

<!--                        {% if values.has_other_pages %}-->
<!--                            {% load bootstrap_pagination %}-->
<!--                            {% bootstrap_paginate values range=17 show_prev_next="false" show_first_last="true" %}-->
<!--                        {% endif %}-->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}