{% extends 'web_app/wrapper.html' %}

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Дата</th>
                            <th scope="col">Время</th>
                            <th scope="col">Образец</th>
                            <th scope="col">Сера</th>
                            <th scope="col">Рассеянное</th>
                            <th scope="col">Концентрация</th>
                            <th scope="col">Аналитическая программа</th>
                            <th scope="col">Оператор</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}