{% extends 'web_app/wrapper.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">Печать</button>
                <button type="button" class="btn btn-secondary">Экспорт в CSV файл</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p>Количество строк на странице</p>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" class="custom-control-input">
                    <label class="custom-control-label">50</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" class="custom-control-input">
                    <label class="custom-control-label">100</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" class="custom-control-input">
                    <label class="custom-control-label">150</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" class="custom-control-input">
                    <label class="custom-control-label">200</label>
                </div>
            </div>
            <div class="col">
                <p>Фильтр</p>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio5" class="custom-control-input">
                    <label class="custom-control-label">Показать за день</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio6" class="custom-control-input">
                    <label class="custom-control-label">Показать за период</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio7" class="custom-control-input">
                    <label class="custom-control-label">Все результаты</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Время</th>
                            <th scope="col">Образец</th>
                            <th scope="col">Сера</th>
                            <th scope="col">Рассеянное</th>
                            <th scope="col">Концентрация</th>
                            <th scope="col">Аналитическая программа</th>
                            <th scope="col">Оператор</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if values %}
                            {% for value in values %}
                                <tr>
                                    <td>{{ value.id }}</td>
                                    <td>{{ value.timestamp|date:"d/m/Y" }}</td>
                                    <td>{{ value.timestamp|time:"G:i:s" }}</td>
                                    <td>{{ value.name }}</td>
                                    {% if value.value.all.count > 0 %}
                                        {% for var in value.value.all %}
                                            <td>{{ var.value }}</td>
                                        {% endfor %}
                                    {% else %}
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    {% endif %}
                                    {% load custom_filters %}
                                    <td>{{ value.sampleobjectid.name|cut_prog|default:"None" }}</td>
                                    <td>{{ value.sampleobjectid.name|cut_name|default:"None" }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td>There are no object in the library.</td>
                        {% endif %}
                    </tbody>
                </table>
                {% if values.has_other_pages %}
                    {% load bootstrap_pagination %}
                    {% bootstrap_paginate values range=25 show_prev_next="false" show_first_last="true" %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}